@import "themes/dark.scss";
@import "themes/light.scss";
@import "variables/main.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  max-height: 100vh;
  width: 100%;
  background: var(--secondary-color);
  transition: var(--transition03);
}

.page {
  width: 100%;
  height: calc(100vh - 60px);
  background: var(--secondary-color);
  transition: var(--transition03);
 
}

