.formContainer textarea {
  width: 100%;
  resize: none;
  min-height: 70px;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background: var(--secondary-color);
  color: var(--text-color);
}

.formContainer button {
  margin-bottom:0px;
}

.formContainer h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--secondary-text-color);
}
