.btn {
  background: transparent;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  font-size: 17px;
  min-width: 70px;
  cursor: pointer;
  height: 40px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;

  transition:
    opacity 0.2s ease-in-out,
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    -webkit-text-decoration 0.2s ease-in-out;
  transition:
    opacity 0.2s ease-in-out,
    color 0.2s ease-in-out,
    text-decoration 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  transition:
    opacity 0.2s ease-in-out,
    color 0.2s ease-in-out,
    text-decoration 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    -webkit-text-decoration 0.2s ease-in-out;
}

.btn:hover {
  background: var(--secondary-text-color);
  color: var(--text-color);
}

.small {
  font-size: 14px;
  padding: 5px 10px;
  max-width: 110px;
}

.medium {
  font-size: 16px;
  padding: 10px 20px;
  max-width: 150px;
}

.large {
  font-size: 20px;
  padding: 15px 30px;
}
