.app.light {
  --primary-color: #f4f4f4fb;
  --secondary-color: #d2d8df;

  --elements-color: #bfcad8c6;

  --border-color:rgba(145, 145, 145, 0.596);

  --text-color:rgb(0, 0, 0);
  --secondary-text-color:#149cd7;
}
