.app.light {
  --primary-color: #e9e9e9d2;
  --secondary-color: #d6d9dd;

  --elements-color: #bfcad8c6;

  --border-color:rgba(145, 145, 145, 0.596);

  --text-color:rgb(0, 0, 0);
  --secondary-text-color:#149cd7;
}
